.formLogin * :not(.checkbox *) {
    margin-bottom: 10px;
 }
 .formLogin{
  padding: 20px;
  border: solid black 2px;
  margin: auto;
  margin-top: 10vh;
  width: 500px;
  width: fit-content;
 }
 .formLogin div {
    display: flex;
    align-items: center;
    justify-content: space-between; 
   }
 .formLogin .checkbox{
  margin-left: 20px;
 }
 .dangNhap{
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .dangNhap *{
  margin-left: 20px;
 }
 .dangNhap button{
  background: rgb(89, 89, 212);
  border-radius: 5px;
  padding: 3px;
 }
 .dangNhap a{
  text-decoration: none;
 }
 .nav {
  border: 2px solid black;
  text-align: center;
 }
 .nav ul{
  display: flex;
  justify-content: center;
 }
 .nav ul li {
  list-style: none;
  margin-left: 20px;
 }
 .nav ul li:not(:last-child) {
  border-right: 1px solid black;
 }
 .nav ul li a {
  text-decoration: none;
  padding-right: 5px;
 }
 .nav_foot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid black;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 div input:not(.checkbox input){
    width:280px;
    height: 20px;
 }
.checkbox input{
    margin-left: 50px;
 }
 table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
table:first-child {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
tr:first-child {
    border-bottom: 1px solid black;
}
th, td{
    border-left: 1px solid black;
    padding: 8px;

}
th {
    background-color: #e9cc7c;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
div.nav.phanTrang{
    border: none;
    position: fixed;
    bottom: 60px;
    left: 40%;
    text-align: center;
}
